<div class="fluid-container">
  <div>
    <h1 class="header-box">Hello, I'm your Catgotchi!</h1>
    <div class="center-box">
      <div class="info-box">
        <app-info-bar title="Hungry" [value]='hungryPoints'></app-info-bar>
        <app-info-bar title="Sleepy" [value]='sleepyPoints'></app-info-bar>
        <app-info-bar title="Cleaning" [value]='cleanPoints'></app-info-bar>
        <app-info-bar title="Happiness" [value]='happyPoints'></app-info-bar>
      </div>

      <div class="cat-body">
        <img class="cat-body-img" src="../assets/img/body.png" alt="">
        <div class="cat-head-happy" *ngIf="isHappy">
          <img src="../assets/img/happy.png" alt="">
        </div>
        <div class="cat-head-sad" *ngIf="!isHappy">
          <img src="../assets/img/sad.png" alt="">
        </div>
      </div>

      <div class="actions-box">
        <button class="btn custom-btn" (click)="gimme('tuna')" [disabled]="isDied"> Gimme Tuna!</button>
        <button class="btn custom-btn" (click)="gimme('sleep')" [disabled]="isDied"> Gimme your bed!</button>
        <button class="btn custom-btn" (click)="gimme('bath')" [disabled]="isDied"> Gimme a Lick Bath!</button>
        <button class="btn custom-btn" (click)="gimme('rubs')" [disabled]="isDied"> Gimme Belly Rubs!</button>
      </div>
    </div>
    <div class="restart-box mt-4" *ngIf="showButtonRestart">
      <button  type="button" (click)='restart()' data-bs-dismiss="modal" class="btn custom-btn">Play again</button>
    </div>

  </div>

  <!-- Button trigger modal -->
  <button type="button" style="visibility: hidden;" #modal class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        
        <div class="modal-body text-center">
          <h1 style="font-size: 70px;">GAME OVER</h1>
          <img style="max-width: 300px;" class="mt-2" src="../assets/img/dead2.jpg" alt="">
         <p class="pt-5">Damn hooman, you let me die</p>
        </div>
        <div class="d-flex justify-content-around mb-4">
          <button type="button" class="btn btn-secondary" (click)="buttonRestart()" data-bs-dismiss="modal">Close</button>
          <button type="button" (click) ='restart()' data-bs-dismiss="modal" class="btn custom-btn">Play again</button>
        </div>
      </div>
    </div>
  </div>
</div>